.about {
    margin-top: 15px;
    font-size: 21px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.extLinks {
      text-align: center;   
  }

  .bioPic {
      float:left;
      clear: left;
      margin-right: 10px;
      width: 200px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  #contact {
      text-align: center;
      margin-top: 30px;
  }


 @media only screen and (max-width: 768px) {
    .about {
       font-size: 15px;
    } 

    .linked {
        float: left;
    }
    .res {
        float: right;
        position: relative;
        bottom: 72px;
    }
    .gh {
        position: relative;
        bottom: 36px;
    }
    #contact {
        position: relative;
        bottom: 60px;
    }

    .bioPic {
        height: 150px;
        width: 150px;
    }
    }

    @media only screen and (max-height: 600px) {
        .about {
           font-size: 20px;
        }
    }
    